<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Broker</title>
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h1>Broker</h1>
        </div>
    </div>
</div>
<div class="container">
<div class="row-fluid">
    <div class="controls">

   <form action="/providers">
    <button type="submit" class="btn btn-default">
       <span class="glyphicon glyphicon-home"></span> Providers
    </button>
</form><br>
        <form action="/subscriptions">
    <button type="submit" class="btn btn-default">
       <span class="glyphicon glyphicon-pencil"></span> Subscriptions
    </button>
</form><br>
        <form action="/registers">
    <button type="submit" class="btn btn-default">
       <span class="glyphicon glyphicon-book"></span> Registry Table
    </button>
</form>
        <br>
        <form action="/log">
    <button type="submit" class="btn btn-default">
       <span class="glyphicon glyphicon-align-justify"></span> Log
    </button>
</form>
    </div>
</div>
</div>
</body>
</html>