<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Broker</title>
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h1>Broker</h1>
        </div>
    </div>
</div>
<div class="container">
<div class="row-fluid">
    <div class="controls">
    <form action="/providers">
        <input type="submit"  value="Providers">
    </form>
<br>
    <form action="/subscriptions">
        <input type="submit" value="Subscriptions">
    </form>
<br>
    <form action="/registers">
        <input type="submit" value="Registry Table">
    </form>
    </div>
</div>
</div>
</body>
</html>