<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Consumer</title>
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h1>Consumer</h1>
        </div>
        <div class="col-md-4">
            <label for="usr">Broker URL:</label>
            <input type="text" class="form-control form-block" id="broker_url" value="{{ broker_url }}">
        </div>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-2">
            <label for="usr">Scope:</label>
            <input type="text" class="form-control" id="scope" placeholder="Requisito">
        </div>
        <div class="col-md-2">
            <label for="usr">Entity:</label>
            <input type="text" class="form-control" id="entity">
        </div>
        <div class="col-md-2">
            <br>
            <form action="/getProviders">
                <input type="submit" class="btn-block" value="GetProviders">
            </form>
        </div>
        <div class="col-md-6">
           <label for="comment">Resposta:</label>
      <textarea class="form-control" rows="2" id="respgetp"></textarea>

        </div>
    </div>
    <div class="row">
        </div>
<hr style="height: 2px;background-color: lightgray;">
    <div class="row">
        <div class="col-md-2">
    <label for="usr">Entity:</label>
    <input type="text" class="form-control" id="entity_subs">
            </div>
        <div class="col-md-2">
    <label for="usr">ScopeList:</label>
    <input type="text" class="form-control" id="scopelist_subs">
            </div>
        <div class="col-md-2">
    <label for="usr">CallbackURL:</label>
    <input type="text" class="form-control" id="url_subs">
        </div>
    <div class="col-md-2">
        <br>
        <form action="/subscribe">
            <input type="submit" class="btn-block" value="Subscribe">
        </form>
    </div>
    <div class="col-md-4">
    <label for="comment">Resposta:</label>
      <textarea class="form-control" rows="2" id="respgetp"></textarea>
        </div>
</div>
<hr style="height: 2px;background-color: lightgray;">

    <div class="row">
        <div class="col-md-2">
   <label for="usr">Entity:</label>
    <input type="text" class="form-control" id="entity_subs">
        </div>
        <div class="col-md-2">
   <label for="usr">ScopeList:</label>
    <input type="text" class="form-control" id="scopelist_subs">
        </div>
        <div class="col-md-2">
            <br>
    <form action="/getContext">
        <input type="submit" class="btn-block" value="GetContext">
    </form>
        </div>
        <div class="col-md-6">
    <label for="comment">Resposta:</label>
      <textarea class="form-control" rows="2" id="respgetp"></textarea>
        </div>

    </div>




</div>

</body>
</html>